
body {
  margin: 40px;
  padding: 0;
}

h1.styleguide {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  border-bottom: solid 1px #000;
  color: #333;
  margin: 25px 0 15px;
}